@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@700&display=swap');

*{
    font-family: Astloch;
}

header {
    height: 200px;
    width: 100%;
    background-color: #624800;
    color: white;
    display: flex;
    align-items: center;
    align-content: space-around;
    text-align: center;
}

.wand {
    padding: 7%;
    width: 70px;
    color: white;
}

h1 {
    width: 100%;
    font-size: 100px;
    text-align: center;
}

svg:not(.wand) {
    width: 40px;
    color: #624800;
}

.contain {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-content: space-between;
}

.combi {
    display: flex;
    width: 250px;
}

h2 {
    padding-left: 5%;
    font-size: 40px;
    width: 100%;
}

h3 {
    padding-left: 5%;
    font-size: 25px;
    margin-top: 0;
}

h4 {
    margin-top: -15px;
    margin-bottom: 0;
    padding-left: 5%;
    font-size: 20px;
}

h5 {
    padding-left: 5%;
    font-size: 15px;
}

li {
    margin-top: -10px;
    padding-bottom: 4%;
    font-size: 15px;
}

.list {
    height: 100%;
    width: 30%;
    padding-left: 4%;
}

#l1 {
    margin-right: -45px;
    padding-right: 0%;
    float: right;
}

#l1 p {
    margin-left: 25%;
}

#l1 p a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    vertical-align: top;
    color: #C0C0C0;
}

#l1 p a::before,
#l1 p a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

#l1 p a::before {
  background-color: #624800;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

#l1 p a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #624800;
}

#l1 p a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

#l1 p a:hover::after {
  transform: translate3d(0, 0, 0);
}

#l1 p a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

#l1 p a:hover span {
  transform: translate3d(-200%, 0, 0);
}

#bg {
    height: 90vh;
    width: 90%;
    background-image: url(./images/white_artisan.jpg.webp);
    float: right;
    overflow: hidden;
    color: white;
}

#bg2 {
    height: 90vh;
    width: 30%;
    background-image: url(./images/small_artisan.jpg.avif);
}

#bg3 {
    height: 100vh; 
    width: 100%;
    background-image: url(./images/full_artisan.jpg.webp);
    color: white;
}

footer {
    padding-top: 2%;
    height: 30%;
    background-color: #624800;
    color: white;
}

